

header{
  background-image: linear-gradient(to right, skyblue , navy);
  padding: 1rem;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 2rem;
}

input, label {
  display: block
}

aside {
  padding: 10px;
  margin-left: 20px
}

.weather-box{
  font-size: 1.5rem;
}

.weather-box h2{
  font-size: 2rem;
}

.uvi-low{
  background-color: green;
}

.uvi-moderate {
  background-color: yellow;
}

.uvi-high {
  background-color: orange;
}

.uvi-very-high {
  background-color: red;
}

.uvi-extreme {
  background-color: violet;
}